body {
  font-family: "Roboto", sans-serif;
}

.ponies-container {
  border: 2px solid black;
}

.pony {
  padding: 10px 5px;
  border: 1px dashed deeppink;
  font-size: 1.5em;
}

.number {
  padding: 0 10px;
  margin-right: 10px;
  background-color: white;
  border-radius: 20px;
}

.rainbow .number {
  border: 1px solid blue;
}

.twilight .number {
  border: 1px solid purple;
}

.rarity .number {
  border: 1px solid grey;
}

.pinkie .number {
  border: 1px solid deeppink;
}

.apple .number {
  border: 1px solid orangered;
}

.rainbow {
  background-color: lightblue;
}

.twilight {
  background-color: plum;
}

.rarity {
  background-color: lightgray;
}

.pinkie {
  background-color: pink;
}

.apple {
  background-color: lightsalmon;
}
