<head>
    <title> Flexbox & CSS-grid </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="cssgrid.main.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div>
                <img src="../assets/jugsummercamp.png" width="100px">
            </div>
            <div>CSS Grid rocks !</div>
            <div>Menu</div>
        </div>
        <div class="left-sidebar">Left Side Bar</div>
        <div class="content">
            <p>Content</p>
        </div>
        <div class="right-sidebar">Right Side Bar</div>
        <div class="footer">Made with ♡ by Amélie</div>
    </div>
</body>