<head>
    <title> Flexbox & CSS-grid </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="flexbox.main.css">
</head>

<body>
    <div class="header">
        <div>
            <img src="../assets/jugsummercamp.png" width="100px">
        </div>
        <div>Flexbox rocks !</div>
        <div>Menu</div>
    </div>
    <div class="flex body">
        <div class="sidebar">Left Side Bar</div>
        <div class="content">
            <p>Content</p>
        </div>
        <div class="sidebar">Right Side Bar</div>
    </div>
    <div class="footer">Made with ♡ by Amélie</div>
</body>